html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}
body {
	height: 100vh;
}
header {
	height: 100%;
	display: flex;
}
header nav {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 1rem 2rem;
	border-right: 1px solid black;
}
header nav .icon {
	position: relative;
	top: 40vh;
	display: flex;
	flex-flow: column;
}
.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* padding: 1rem 2rem; */
}
.header > div {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}
.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .3;
	border-radius: 50%;
	transition: .2s ease-in;
}
.circle:hover .mask {
	height: 0%;
}
.circle:hover {
	cursor: pointer;
}
.circle {
	display: flex;
	align-items: flex-end;
	position: relative;
	background-size: cover;
	height: 4rem;
	width: 4rem;
	margin-right: .5rem;
	background-color: black;
	border-radius: 50%;
}
.header :first-child {
	display: flex;
	font-size: 4rem;
}
.box {
	height: 3rem;
	width: 3rem;
	background-color: black;
}
.rect {
	width: 6rem;
	height: 3rem;
	background-color: black;
}
.right {
	display: flex;
}
.right :not(:last-child) {
	margin-right: .125rem;
}
.dashboard {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.dashboard .card,
.dashboard .balance {
	height: 15vh;
	border-radius: .25em;
}
.dashboard .card {
	width: 60%;
	background-color: orange;
	margin-right: 2vw;
}
.dashboard .balance {
	background-color: purple;
	width: 30%;
	height: 15vh;
}
.dashboard .left,
.dashboard .right {
	width: 100%;
	height: 100%;
}
.dashboard .left {
	display: flex;
	flex-direction: column;
}
.dashboard .right {
	background-color: gray;
}
.box:hover,
.rect:hover {
	opacity: .7;
	cursor: pointer;
}
.tri {
	border-right: 2rem solid transparent;
	border-left: 2rem solid transparent;
	border-bottom: 4rem solid black;
	border-top: 0;
	position: absolute;
	left: 10px;
}
.left h2 {
	margin: .5em 0;
}
.left div:nth-child(3) {
	display: flex;
	justify-content: space-between;
	margin-right: 1rem;
}
.sumCard {
	display: flex;
	flex-direction: column;
}
.sumCard p {
	font-size: 1rem;
}
